In [6]:
father_names=["Aslam","Asghar","Mukhtar","Rafiq"]
child_names=["Bilal","Zaran","Kashan","Saad"]
full_name=[]
index=0

for father_name in father_names:
    for child_name in child_names:
        full_name.append(child_name+" "+father_name)
        
    print("fist child full name:",full_name[index])
         
    print("last child full name: ",full_name[-1])
     
    index+=4
print("\n",full_name)

fist child full name: Bilal Aslam
last child full name:  Saad Aslam
fist child full name: Bilal Asghar
last child full name:  Saad Asghar
fist child full name: Bilal Mukhtar
last child full name:  Saad Mukhtar
fist child full name: Bilal Rafiq
last child full name:  Saad Rafiq

 ['Bilal Aslam', 'Zaran Aslam', 'Kashan Aslam', 'Saad Aslam', 'Bilal Asghar', 'Zaran Asghar', 'Kashan Asghar', 'Saad Asghar', 'Bilal Mukhtar', 'Zaran Mukhtar', 'Kashan Mukhtar', 'Saad Mukhtar', 'Bilal Rafiq', 'Zaran Rafiq', 'Kashan Rafiq', 'Saad Rafiq']

In [2]:
t=int(input("enter the numbers of tables: "))
l=1
for i in range(2,t+1):
    print(f"loop {l}")
    l+=1
    for x in range(1,11):
        print(f"{i}*{x}={i*x}")

enter the numbers of tables: 3
loop 1
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
loop 2
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30