In [ ]:
#TUPLES
#NO CHANGABLE 
states= ("Delaware","Pennsylvania", "New Jersey", "Georgia")
states[1]
print(states[2])

In [ ]:
#forloop
states= ("Delaware","Pennsylvania", "New Jersey", "Georgia")
for s in states:
    print("name of states: ",s)
    print("city is Georgia: ",s=="Georgia")

In [ ]:

states= ("Delaware","Pennsylvania", "New Jersey", "Georgia")
for s in states:
    print("name of states: ",s)
    print("city is Delaware or Pennsylvania: ",s in ("Delaware","Pennsylvania"))

In [ ]:
#NESTED FORLOOP
father_names=["Aslam","Asghar","Mukhtar","Rafiq"]
child_names=["Bilal","Zaran","Kashan","Saad"]#one name of each fathers child
full_name=[]
index=0
#last=3
for father_name in father_names:
    for child_name in child_names:
        full_name.append(child_name+" "+father_name)
        #print(full_name)
#print(full_name)
    print("fist child name:",full_name[index])
        #print("l c name:",full_names[last])
    #print("last child name: ",full_name[-1])
        #print(full_names)
    #index+=4
        #last+=4
#print(full_names)

In [ ]:

father_names=["Aslam","Asghar","Mukhtar","Rafiq"]
child_names=["Bilal","Zaran","Kashan","Saad"]
full_name=[]
index=1

for father_name in father_names:
    for child_name in child_names:
        full_name.append(child_name+" "+father_name)
    print("fist child name:",full_name[index])
         
    print("last child name: ",full_name[-1])
     
    index+=4

In [ ]:
#INPUT
name=input("Enter name")
print(name)

In [ ]:
n1=int(input("Enter number: "))
n2=int(input("Enter name: "))
a=n1+n2
print(a)

In [3]:
#Upper case Title case Lower
city=["jfb","fhfhsjkf","fhkf","fksf"]
for c in city:
    print(c.upper())
    print(c.title())
    print(c.lower())

JFB
Jfb
jfb
FHFHSJKF
Fhfhsjkf
fhfhsjkf
FHKF
Fhkf
fhkf
FKSF
Fksf
fksf

In [15]:
#Dictionay
favourite={"asif":"blue","khan":"green","Ahmed":"Black"}
favourite["asif"]="balck"#here changed in the dictionary
print(favourite) 
favourite.update({"MUhammad":"white"})
print(favourite)
eg={0:"minimum",100:"maximum"}
print(eg)
del favourite["asif"]
print(favourite)

{'asif': 'balck', 'khan': 'green', 'Ahmed': 'Black'}
{'asif': 'balck', 'khan': 'green', 'Ahmed': 'Black', 'MUhammad': 'white'}
{0: 'minimum', 100: 'maximum'}
{'khan': 'green', 'Ahmed': 'Black', 'MUhammad': 'white'}

In [2]:
marks={"dld":89,"eng":89}
for m,ma in marks.items():
    print(m,":",ma)

dld : 89
eng : 89

student name = fahad
Maths 90
Dm = 88
DLD = 79
semi = 89
Islam = 59
OOp = 90
student name = ghazlo
Maths 89
Dm = 79
DLD = 56
semi = 70
Islam = 89
OOp = 90
student name = ghazanfar
Maths 88
Dm = 89
DLD = 77
semi = 667
Islam = 88
OOp = 88
fahad
ghazlo
ghazanfar

In [2]:
marks=input("input marks")
dict={"tottal marks":marks}
print(dict)

input marks8,89,78
{'tottal marks': '8,89,78'}

In [3]:
marks=input()
dictionary={"key":marks}
print(dictionary)

4,5,6
{'key': '4,5,6'}

In [33]:
customer_29876= {
    "first name": "David",
    "last name": "Elliott",
    "address": "4803 Wellesley St.",
    "discounts": ["standard", "volume", "loyalty"],
}
if "loyaltjy" in customer_29876["discounts"]:
    discount_amount = .3
elif "volume" in customer_29876["discounts"]:
    discount_amount = .15
elif "Umar" in customer_29876["discounts"]:
    discount_amount = .10
else:
    print("no discount")   
print("discount =",discount_amount)

discount = 0.15

In [7]:
customers = [
{
"customer id": 0,
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
},
{
"customer id": 4,
"first name":"Ann",
"last name": "Sattermyer",
"address": "PO Box 1145",
},
{
"customer id": 2,
"first name":"Jill",
"last name": "Somers",
"address": "3 Main St.",
}
]
print(customers)
print(customers[0]["first name"])

[{'customer id': 0, 'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}, {'customer id': 4, 'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}, {'customer id': 2, 'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}]
John

In [39]:
record={
    0:{
     "first_name":"Muhammad",
     "last_name":"Ahmed",
     "ID":7878,
    },
    1:{
     "first_name":"Muhammad",
     "last_name":"Ahmed",
     "ID":7878,
    }
}
print(record[0]["first_name"])

Muhammad