In [1]:
#TUPLES
#NO CHANGABLE 
states= ("Delaware","Pennsylvania", "New Jersey", "Georgia")
for n in states:
    print(n)

Delaware
Pennsylvania
New Jersey
Georgia

In [5]:
#forloop
states= ("Delaware","Pennsylvania", "New Jersey", "Georgia")
for s in states:
    print("name of states: ",s)
    print("city is Georgia: ",s=="Georgia")

name of states:  Delaware
city is Georgia:  False
name of states:  Pennsylvania
city is Georgia:  False
name of states:  New Jersey
city is Georgia:  False
name of states:  Georgia
city is Georgia:  True

In [6]:

states= ("Delaware","Pennsylvania", "New Jersey", "Georgia")
for s in states:
    print("name of states: ",s)
    print("city is Delaware or Pennsylvania: ",s in ("Delaware","Pennsylvania"))

name of states:  Delaware
city is Delaware or Pennsylvania:  True
name of states:  Pennsylvania
city is Delaware or Pennsylvania:  True
name of states:  New Jersey
city is Delaware or Pennsylvania:  False
name of states:  Georgia
city is Delaware or Pennsylvania:  False

In [17]:
#NESTED FORLOOP
father_names=["Aslam","Asghar","Mukhtar","Rafiq"]
child_names=["C_Bilal","C_Zaran","C_Kashan","C_Saad"]#one name of each father,s child
full_name=[]
index=0
#last=3
for father_name in father_names:
    for child_name in child_names:
        full_name.append(child_name+" "+father_name)
    print("fist child name:",full_name[index])
        #print("l c name:",full_names[last])
    print("last child name: ",full_name[-1])
        #print(full_names)
    index+=4
        #last+=4
#print(full_names)

fist child name: Bilal Aslam
last child name:  Saad Aslam
fist child name: Bilal Asghar
last child name:  Saad Asghar
fist child name: Bilal Mukhtar
last child name:  Saad Mukhtar
fist child name: Bilal Rafiq
last child name:  Saad Rafiq

In [24]:

father_names=["Aslam","Asghar","Mukhtar","Rafiq"]
child_names=["Bilal","Zaran","Kashan","Saad"]
full_name=[]
index=1

for father_name in father_names:
    for child_name in child_names:
        full_name.append(child_name+" "+father_name)
    print("fist child name:",full_name[index])
         
    print("last child name: ",full_name[-1])
     
    index+=4

fist child name: Zaran Aslam
last child name:  Saad Aslam
fist child name: Zaran Asghar
last child name:  Saad Asghar
fist child name: Zaran Mukhtar
last child name:  Saad Mukhtar
fist child name: Zaran Rafiq
last child name:  Saad Rafiq

In [21]:
#INPUT
name=input("Enter name")
print(name)

Enter nameAsif
Asif

In [25]:
n1=int(input("Enter number: "))
n2=int(input("Enter name: "))
a=n1+n2
print(a)

Enter number: 33
Enter name: 3333
3366

In [32]:
#Upper case Title case Lower
city=["jfb","fhfhsjkf","fhkf","fksf"]
for c in city:
    print(c.upper())
    print(c.title())
    print(c.lower())

JFB
Jfb
jfb
FHFHSJKF
Fhfhsjkf
fhfhsjkf
FHKF
Fhkf
fhkf
FKSF
Fksf
fksf

In [38]:
#Dictionay
city={"jfb":"fhfhsjkf","fhkf":"fksf"}
city["jfb"]

'fhfhsjkf'

In [39]:
marks={"sbbsk":89,"dgsj":89}
for m,ma in marks.items():
    print(m,":",ma)

sbbsk : 89
dgsj : 89

In [48]:
mark_sheet={"farhad":[90,88],"ghazlo":[100,100],"ghazanfar":[88,89]}
print(mark_sheet)
for student,marks in mark_sheet.items():
    print("student name",student)
    print("Maths",marks[0])
    print("dm",marks[1])
for x in mark_sheet.keys():
    print(x)
for v in mark_sheet.values():
    print(v)

{'farhad': [90, 88], 'ghazlo': [100, 100], 'ghazanfar': [88, 89]}
student name farhad
Maths 90
dm 88
student name ghazlo
Maths 100
dm 100
student name ghazanfar
Maths 88
dm 89
farhad
ghazlo
ghazanfar
[90, 88]
[100, 100]
[88, 89]

In [50]:
marks=input("total marks")
dict={"tottal marks":marks}
print(dict)

total marks6565
{'tottal marks': '6565'}